<div style="
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100vh;
  "
>
  <div style="flex-basis: 85%" class="white">
    {{battle-scene battle=battle}}
  </div>
  <div
    class="white bg-black-5 clearfix pa4 ba bw3">
    <div class="fl w-25">
      <img src="{{player.image}}">
    </div>
    <div class="fl w-25">
      <h3>{{player.name}}</h3>
      <p>Choose Move</p>
      <ul>
        {{#each player.moves as |move|}}
        <li onclick={{perform stageAction move}} class="choose-move mt2">
            {{move.name}}
            <ul style="font-size: 11px;">
              <li>Queue Time <strong>{{move.queue_time}}</strong></li>
              <li>Damage <strong>{{move.damage}}</strong></li>
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="fl w-25 pane">
      <h3>My Activity</h3>
      <ul>
      {{#each (reverse queuedActions) as |axn|}}
        <li class="mt2" style="font-size: 11px;">
          {{if axn.success 'SUCCESS>' 'FAIL>'}}
          {{axn.name}}
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="fl w-25 pane">
      <h3>Recent Activity</h3>
      <ul>
      {{#each recentActivities as |activity|}}
        <li class="mt2" style="font-size: 11px;">
          {{activity.activity_by}} — {{activity.message}}
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
